---
layout: page
title: Ensayos
title_hide: true
page-class: page--essays
permalink: /ensayos/
---

<ul class="align-c  u-mb+  [ list-inline  list-inline--delimited ]" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
  <li><a href="/ensayos/memorias/" class="link  link--black  link--strong" title="Memorias" itemprop="name">Memorias</a></li>
</ul><!-- /list-inline -->

{% for post in site.posts %}
  {% unless post.categories contains 'books' or post.categories contains 'talks' %}

    {% include media-post.html %}

  {% endunless %}
{% endfor %}
