---
layout: default
page-class: page--home
---

<div class="region  region--underline">

  <figure itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
    <img src="/assets/img/abelnieva.jpg" alt="Abel Nieva" itemprop="contentUrl">
  </figure>

  <h3 class="region__title" itemprop="headline">Desarrollador de software, fotógrafo urbano, emprendedor apasionado, adicto al conocimiento,
    ensayista, enfocado en el estudio y exposición de la Biblia.</h3>

  <span itemprop="description">En lo profesional, me encanta el código y el mundo JavaScript. Por ello, soy desarrollador de proyectos front-end
    en <a href="http://www.gft.com/es/" target="_blank">GFT España</a>. Estoy convencido que los pequeños detalles, la
    optimización, y las pruebas de software, contribuyen a mejorar la respuesta, impulsar las ventas, y aumentar la
    rentabilidad. En lo personal, me apasiona el estudio y exposición de la Biblia. Por ello, estoy cursando una Maestría en
    Predicación Expositíva en el <a href="https://tmai.org/" target="_blank">TMAI</a>. No creo en la religión, ya que sólo
    sirve para ovejunar al hombre. Si creo en una relación personal con Dios, y ésto forma parte escencial de mi
    cosmovisión.</span>

</div><!-- /region -->

<div class="region  region--underline">

  <ul class="layout" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
    <li class="layout__item  [ u-1-of-1-palm  u-1-of-2-lap  u-1-of-4-desk ]  u-mb">
      <a href="/ensayos/" class="btn  u-1-of-1-portable" title="Ensayos" itemprop="name">Ensayos</a>
    </li><!--
--><li class="layout__item  [ u-1-of-1-palm  u-1-of-2-lap  u-1-of-4-desk ]  u-mb">
      <a href="/proyectos/" class="btn  u-1-of-1-portable" title="Software" itemprop="name">Software</a>
    </li><!--
--><li class="layout__item  [ u-1-of-1-palm  u-1-of-2-lap  u-1-of-4-desk ]  desk-align-r  u-mb">
      <a href="/fotografias/" class="btn  u-1-of-1-portable" title="Fotografía" itemprop="name">Fotografía</a>
    </li><!--
--><li class="layout__item  [ u-1-of-1-palm  u-1-of-2-lap  u-1-of-4-desk ]  desk-align-r  u-mb">
      <a href="/libros/" class="btn  u-1-of-1-portable" title="Libros" itemprop="name">Libros</a>
    </li>
  </ul><!-- /layout -->

  <span>Ver también:</span>

  <ul class="list-inline  list-inline--delimited  list-inline--inline" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
    <li><a href="/resoluciones/" class="link  link--black  link--strong" title="Resoluciones Personales" itemprop="name">Resoluciones Personales</a></li>
    <li><a href="/viajes/" class="link  link--black  link--strong" title="Historial de Viajes" itemprop="name">Historial de Viajes</a></li>
    <li><a href="/archivo/" class="link  link--black  link--strong" title="Archivo" itemprop="name">Archivo</a></li>
  </ul><!-- /list-inline -->

</div><!-- /region -->

<section class="region  u-mb++" itemscope itemtype="http://schema.org/ItemList">

  <h2 class="region__title" itemprop="name">Artículos Recientes <a href="/ensayos/" title="Ver todos los ensayos">Ver todos</a></h2>

  <link href="/ensayos/" itemprop="url" />

  <ul class="list  list--responsive">
  {% for post in site.posts limit:6 %}
    {% unless post.categories contains 'books' or post.categories contains 'talks' %}
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">

      <article class="post  post--list" itemprop="item" itemscope itemType="http://schema.org/BlogPosting" itemid="{{ post.url }}">
        {% include time.html %}

        <h5 class="post__title" itemprop="headline"><a href="{{ post.url }}" class="link  link--black" title="{{ post.title }}">{{ post.title }}</a></h5>

        <link href="{{ post.url }}" itemprop="url" />
      </article><!-- /post -->
  
    </li>
    {% endunless %}
  {% endfor %}
  </ul><!-- /list -->

</section><!-- /region -->

<div class="align-c">✨ 🌝 🌚 ✨</div>
