---
layout: default
page-class: page--home
---

<div class="region">

  <figure class="region__image-left  u-1-of-1-palm" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
    <img src="{{ "/assets/img/abelnieva.jpg" | prepend: site.baseurl }}" alt="Abel Nieva" itemprop="contentUrl">
  </figure>

  <h3 class="region__title" itemprop="headline">Desarrollador de software, fotógrafo urbano, adicto al conocimiento,
    emprendedor, ensayista, enfocado en el estudio y exposición de la Biblia.</h3>

  <span itemprop="description">En lo profesional, me encanta el código y el mundo JavaScript. Por ello, me dedico
    al desarrollo de proyectos front-end en <a href="http://www.gft.com/es/" target="_blank">GFT España</a>. Estoy
    convencido que los pequeños detalles, la optimización, y las pruebas de software, contribuyen a mejorar la
    respuesta, impulsar las ventas, y aumentar la rentabilidad. En lo personal, me apasiona el estudio y exposición de
    la Biblia. Así pues, estoy cursando una Maestría en Predicación Expositiva en el <a href="https://tmai.org/"
    target="_blank">TMAI</a>. No creo en la religión, que generalmente sólo sirve para ovejunar al hombre. Si creo que
    se puede tener una relación personal con Dios, y ésto forma parte esencial de mi cosmovisión.</span>

</div><!-- /region -->

<div class="[ region  region--underline-t  region--underline-b ]  u-pb0">

  <ul class="layout  layout--flush" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
    <li class="layout__item  [ u-1-of-1-palm  u-1-of-4 ]">
      <a href="{{ site.baseurl }}/ensayos/" class="btn  btn--full  btn--clear" title="Ensayos" itemprop="name">Ensayos</a>
    </li><!--
--><li class="layout__item  [ u-1-of-1-palm  u-1-of-4 ]">
      <a href="{{ site.baseurl }}/proyectos/" class="btn  btn--full  btn--clear" title="Software" itemprop="name">Software</a>
    </li><!--
--><li class="layout__item  [ u-1-of-1-palm  u-1-of-4 ]">
      <a href="{{ site.baseurl }}/fotografias/" class="btn  btn--full  btn--clear" title="Fotografías" itemprop="name">Fotografías</a>
    </li><!--
--><li class="layout__item  [ u-1-of-1-palm  u-1-of-4 ]">
      <a href="{{ site.baseurl }}/libros/" class="btn  btn--full  btn--clear" title="Libros" itemprop="name">Libros</a>
    </li>
  </ul><!-- /layout -->

</div><!-- /region -->

<div class="region  region--underline-b">

  <span>Ver también:</span>

  <ul class="list-inline  list-inline--delimited  list-inline--inline" role="navigation" itemscope
    itemtype="http://schema.org/SiteNavigationElement">
    <li><a href="{{ site.baseurl }}/resoluciones/" class="link  link--black" title="Resoluciones Personales" itemprop="name">Resoluciones
      Personales</a></li>
    <li><a href="{{ site.baseurl }}/viajes/" class="link  link--black" title="Historial de Viajes" itemprop="name">Historial de
      Viajes</a></li>
    <li><a href="{{ site.baseurl }}/archivo/" class="link  link--black" title="Archivo" itemprop="name">Archivo</a></li>
  </ul><!-- /list-inline -->

</div><!-- /region -->

<section class="region  u-mb++" itemscope itemtype="http://schema.org/ItemList">

  <h2 class="region__title" itemprop="name">Artículos Recientes <a href="{{ site.baseurl }}/ensayos/" title="Ver todos los ensayos">
    Ver todos</a></h2>

  <link href="{{ site.baseurl }}/ensayos/" itemprop="url" />

  <ul class="list  list--responsive">
  {% for post in site.posts limit:6 %}
    {% unless post.categories contains 'books' or post.categories contains 'talks' %}
    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">

      <article class="post  post--list" itemprop="item" itemscope itemType="http://schema.org/BlogPosting"
        itemid="{{ post.url }}">
        {% include time.html %}

        <h4 class="post__title" itemprop="headline"><a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}"
          class="link  link--clear">{{ post.title }}</a></h4>

        <link href="{{ post.url | prepend: site.baseurl }}" itemprop="url" />
      </article><!-- /post -->

    </li>
    {% endunless %}
  {% endfor %}
  </ul><!-- /list -->

</section><!-- /region -->

<article class="region  u-mb++">

  <h2 class="region__title">Reseñas de Libros <a href="{{ site.baseurl }}/libros/">Ver todos</a></h2>

  <ul class="layout">
    {% for post in site.posts limit:4 %}{% if post.categories contains 'books' %}
      <li class="layout__item  [ u-1-of-1-palm  u-1-of-2-lap  u-1-of-3 ]  u-mb">
        <a href="{{ post.url | prepend: site.baseurl }}" class="link  link--reset">

          <div class="block  block--book">

            <div class="block__img">
              <img src="{{ '/assets/img/books/' | append: post.slug | prepend: site.baseurl }}.jpg" />
            </div>

            <div class="block__body">
              {% include time.html %}

              <h4 class="block__title">{{ post.title }}</h4>

              <p>{{ post.meta }}</p>
            </div>

          </div><!-- /block -->

        </a>
      </li>
    {% endif %}{% endfor %}
  </ul>

</article><!-- /region -->

<div class="align-c">✨ 🌝 🌚 ✨</div>
