---
layout: page
title: Memorias
title_hide: true
page-class: page--essays
permalink: /ensayos/memorias/
---

<div class="layout">

  <div class="layout__item  [ u-1-of-1-palm  u-4-of-5 ]">

  {% for post in site.posts %}
    {% if post.categories contains 'memorias' %}

      {% include media-post.html %}

    {% endif %}
  {% endfor %}

  </div><!--

  --><aside class="layout__item  [ u-1-of-1-palm  u-1-of-5 ]  page-aside" role="complementary">

    <ul class="list-bare  [ list  list--category ]" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
      <li><a href="/ensayos/memorias/" class="link  link--clear  link--active" title="Memorias" itemprop="name">Memorias</a></li>
    </ul><!-- /list-inline -->

  </aside>

</div><!-- /layout -->