---
layout: page
title: Memorias
title_hide: true
page-class: page--essays
permalink: /essays/memories/
---

<ul class="align-c  u-mb+  [ list-inline  list-inline--delimited ]">
  <li><a href="/essays/memories/" class="link  link--active  link--black  link--strong">Memorias</a></li>
</ul><!-- /list-inline -->

{% for post in site.posts %}
  {% if post.categories contains 'memories' %}
  <article class="media  media--post" itemscope itemType="http://schema.org/BlogPosting">

    <a href="{{ post.url | prepend: site.baseurl }}" class="media__img  [ link  link--reset ]">
      <img src="/assets/img/essays/{{ post.slug }}.jpg" itemprop="thumbnail" />
    </a>

    <div class="media__body">
      {% assign m = post.date | date: "%-m" %}

      <time datetime="{{ post.date | date_to_xmlschema  }}" class="media__date" itemprop="datePublished">
      {% case m %}
        {% when '1' %}Enero
        {% when '2' %}Febrero
        {% when '3' %}Marzo
        {% when '4' %}Abril
        {% when '5' %}Mayo
        {% when '6' %}Junio
        {% when '7' %}Julio
        {% when '8' %}Agosto
        {% when '9' %}Septiembre
        {% when '10' %}Octubre
        {% when '11' %}Noviembre
        {% when '12' %}Diciembre
      {% endcase %}
      {{ post.date | date: "%-d, " }}
      {{ post.date | date: "%Y" }}
      </time>

      <h2 class="media__title" itemprop="headline"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>

      <p itemprop="description">{{ post.excerpt | remove: '<p>' | remove: '</p>' }} [...]</p>

      <div class="media__meta">
        <span>En </span>

        <ul class="list-inline  list-inline--delimited  list-inline--inline">
        {% for category in post.categories %}
          <li>
            <a href="/essays/{{ category }}/">
            {% case category %}
              {% when 'memories' %}Memorias
            {% endcase %}
            </a>
          </li>
        {% endfor %}
        </ul><!-- /list-inline -->
      </div>
    </div>

  </article><!-- /media -->
  {% endif %}
{% endfor %}
