<footer class="page-foot" role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">

  <ul class="[ list-inline  list-inline--delimited ]  u-mb" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
    <li><a href="/resoluciones/" class="link  link--black  link--strong" title="Resoluciones Personales" itemprop="name">Resoluciones Personales</a></li>
    <li><a href="/viajes/" class="link  link--black  link--strong" title="Historial de Viajes" itemprop="name">Historial de Viajes</a></li>
    <li><a href="/archivo/" class="link  link--black  link--strong" title="Archivo" itemprop="name">Archivo</a></li>
  </ul><!-- /list-inline -->

  <ul class="foot-nav  list-inline" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
    <li class="foot-nav__item">
      <a href="https://twitter.com/abelnieva" class="foot-nav__link" title="Twitter" itemprop="name">
        <span class="hide">Twitter</span>
        <span class="icon  icon--twitter"></span>
      </a>
    </li>
    <li class="foot-nav__item">
      <a href="https://github.com/abel-nieva" class="foot-nav__link" title="GitHub" itemprop="name">
        <span class="hide">GitHub</span>
        <span class="icon  icon--github"></span>
      </a>
    </li>
    <li class="foot-nav__item">
      <a href="https://instagram.com/abel.nieva/" class="foot-nav__link" title="Instagram" itemprop="name">
        <span class="hide">Instagram</span>
        <span class="icon  icon--instagram"></span>
      </a>
    </li>
    <li class="foot-nav__item">
      <a href="https://www.linkedin.com/in/abel-nieva" class="foot-nav__link" title="LinkedIn" itemprop="name">
        <span class="hide">LinkedIn</span>
        <span class="icon  icon--linkedin"></span>
      </a>
    </li>
    <li class="foot-nav__item">
      <a href="https://soundcloud.com/abelnieva" class="foot-nav__link" title="SoundCloud" itemprop="name">
        <span class="hide">SoundCloud</span>
        <span class="icon  icon--soundcloud"></span>
      </a>
    </li>
    <li class="foot-nav__item">
      <a data-email="me at abelnieva dot org" class="foot-nav__link" id="js-email" title="Mail" itemprop="name">
        <span class="hide">Mail</span>
        <span class="icon  icon--mail"></span>
      </a>
    </li>
  </ul><!-- /foot-nav -->

</footer><!-- /page-foot -->

<!-- Scripts -->
<script src="{{ '/assets/js/abelnieva.thirds.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/abelnieva.js' | prepend: site.baseurl }}"></script>
