<footer class="page-foot">

  <nav class="foot-nav">

    <ul class="list-inline  list-inline--delimited  u-mb">
      <li><a href="/resolutions/" class="link  link--black  link--strong">Resoluciones Personales</a></li>
      <li><a href="/travel/" class="link  link--black  link--strong">Historial de Viajes</a></li>
      <li><a href="/archive/" class="link  link--black  link--strong">Archivo</a></li>
    </ul><!-- /list-inline -->

    <ul class="foot-nav__list  list-inline">
      <li class="foot-nav__item">
        <a href="https://twitter.com/abelnieva" target="_blank" class="foot-nav__link">
          <span class="hide">Twitter</span>
          <span class="[ icon  icon--twitter ]"></span>
        </a>
      </li>
      <li class="foot-nav__item">
        <a href="https://github.com/abel-nieva" target="_blank" class="foot-nav__link">
          <span class="hide">GitHub</span>
          <span class="[ icon  icon--github ]"></span>
        </a>
      </li>
      <li class="foot-nav__item">
        <a href="https://instagram.com/abel.nieva/" target="_blank" class="foot-nav__link">
          <span class="hide">Instagram</span>
          <span class="[ icon  icon--instagram ]"></span>
        </a>
      </li>
      <li class="foot-nav__item">
        <a href="https://www.linkedin.com/in/abel-nieva" target="_blank" class="foot-nav__link">
          <span class="hide">LinkedIn</span>
          <span class="[ icon  icon--linkedin ]"></span>
        </a>
      </li>
      <li class="foot-nav__item">
        <a href="https://soundcloud.com/abelnieva" target="_blank" class="foot-nav__link">
          <span class="hide">SoundCloud</span>
          <span class="[ icon  icon--soundcloud ]"></span>
        </a>
      </li>
      <li class="foot-nav__item">
        <a data-email="me at abelnieva dot org" target="_blank" class="foot-nav__link" id="js-email">
          <span class="hide">Mail</span>
          <span class="[ icon  icon--mail ]"></span>
        </a>
      </li>
    </ul>

  </nav><!-- /foot-nav -->

</footer><!-- /page-foot -->

<!-- Scripts -->
<script src="{{ '/assets/js/abelnieva.thirds.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/abelnieva.js' | prepend: site.baseurl }}"></script>
