/*------------------------------------*\
  #LINKS
\*------------------------------------*/

// Internal variables
$link-transition:       0.2s;

%link__hover {
  border-bottom: 1px solid currentColor;
}

a,
.link {
  @include vendor(transition, $link-transition);
  color: $color-links;
  text-decoration: none;
  border-bottom: 1px dotted currentColor;

  @include attention() {
    @extend %link__hover;
    color: $color-links-hover;
  }

}




.link--active {
  @extend %link__hover;
}




.link--reset,
%link-reset {
  border: none;
  color: inherit;

  @include attention() {
    border: none;
    color: inherit;
  }

}




.link--ui {
  padding: $spacing-unit--extra-small;
  display: block;

  @include attention() {
    background: $color-links-ui-bg;
  }

  @include media-query(desk) {
    padding: $spacing-unit--small;
  }

}




.link--black {
  @extend %strong;
  border: none;

  @include attention() {
    color: currentColor;
  }

}
