/*------------------------------------*\
  #LISTS
\*------------------------------------*/

.list--responsive {

  @include media-query(palm) {
    list-style: none;
    margin-left: 0;
  }

}




.list-inline--inline {
  display: inline;
}




.list--category {
  @extend %hr--left;
  @include font-size(16px);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: $spacing-unit;
  min-height: 200px;
}