/*------------------------------------*\
  #REGION
\*------------------------------------*/

.region {
  margin-bottom: $spacing-unit;

  @include media-query(desk) {
    margin-bottom: $spacing-unit--medium;
  }

}

  .region__title {

    > a {
      @include font-size($inuit-base-font-size);
      font-weight: $light;
    }

  }

  .region__image-left {
    float: left;
    margin-bottom: $spacing-unit;
    margin-right: $spacing-unit;
    vertical-align: middle;
    width: 378px;

    @include media-query(lap-and-up) {
      margin-bottom: $spacing-unit--small;
    }
  }




.region--underline-b {
  @extend %hr;
  padding-bottom: $spacing-unit;

  @include media-query(desk) {
    padding-bottom: $spacing-unit--medium;
  }

}




.region--underline-t {
  @extend %hr--top;
}
