/*------------------------------------*\
  #POST
\*------------------------------------*/

.post {
  margin-bottom: $spacing-unit--large;

  @include media-query(desk) {
    margin-bottom: $spacing-unit--extra-large;
  }
}

  h1.post__title {
    margin-top: $spacing-unit--extra-small;

    @include media-query(portable) {
      @include font-size($inuit-heading-size-2);
    }

    > a {
      color: $color-post-title;

        @include attention() {

          &:before {
            border-bottom-color: $color-post-title;
          }

        }

    }

  }

  .post__date {
    color: $color-post-date;
  }

  .post__cover {
    margin-bottom: $spacing-unit--medium;

    @include media-query(desk) {
      margin-bottom: $spacing-unit--large;
    }

  }

  .post__meta {
    margin-top: $spacing-unit--medium;

    @include media-query(desk) {
      margin-top: $spacing-unit--large;
    }

  }




.post--book {

  .post__cover {

    @include media-query(lap-and-up) {
      display: inline;
      float: right;
      margin: 0 0 $spacing-unit--medium $spacing-unit--medium;
      max-width: 300px;
    }

    @include media-query(desk) {
      margin: 0 0 $spacing-unit--large $spacing-unit--large;
    }

    figcaption {
      @extend %strong;
      margin-top: $spacing-unit--small;
      line-height: 1.6;
    }

  }

}




.post--list {
  margin-bottom: $spacing-unit;

  .post__title {
    margin-bottom: 0;

    @include media-query(lap-and-up) {
      display: inline;
    }

  }

  .post__date {
    line-height: 1;

    @include media-query(lap-and-up) {
      margin-right: $spacing-unit--small;
    }

  }

}
