/*------------------------------------*\
  #POST
\*------------------------------------*/

.post {
  margin-bottom: $spacing-unit--large;

  @include media-query(desk) {
    margin-bottom: $spacing-unit--extra-large;
  }
}

  h1.post__title {
    @include media-query(portable) {
      @include font-size($inuit-heading-size-2);
    }

    > a {
      color: $color-post-title;

        @include attention() {

          &:before {
            border-bottom-color: $color-post-title;
          }

        }

    }

  }

  .post__date {
    color: $color-post-date;
    display: block;
  }

  .post__cover {
    margin-bottom: $spacing-unit--medium;

    @include media-query(desk) {
      margin-bottom: $spacing-unit--large;
    }

  }

  .post__meta {
    margin-top: $spacing-unit--medium;

    @include media-query(desk) {
      margin-top: $spacing-unit--large;
    }

  }




.post--book {

  .post__cover {
    display: inline;
    float: right;
    max-width: 275px;
    margin-left: $spacing-unit--medium;

    @include media-query(desk) {
      margin-left: $spacing-unit--large;
    }

  }

}




.post--list {
  margin-bottom: $spacing-unit;

  .post__title {
    margin-bottom: 0;

    @include media-query(lap-and-up) {
      display: inline;
    }

  }

  .post__date {
    line-height: 1;

    @include media-query(lap-and-up) {
      margin-right: $spacing-unit--small;
      display: inline-block;
    }

  }

}
