/*------------------------------------*\
  #BUTTONS
\*------------------------------------*/

// Internal variables
$btn-transition:       0.2s;

.btn {
  @include vendor(transition, $btn-transition);
  font-weight: $semi-bold;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  border: none;

  @include attention() {
    background-color: $color-btn-hover;
    border: none;
  }

}




.btn--clear {
  color: $color-btn-clear;
  background-color: $color-btn-clear-bg;

  @include attention() {
    background-color: $color-btn-clear-hover-bg;
  }
}
