/*------------------------------------*\
  #SITE-NAV
\*------------------------------------*/

.site-nav {
  @extend %clearfix;
  @include font-size(16px);
  float: right;
  text-transform: uppercase;

  @include media-query(palm) {
    @include font-size(24px);
  }

}

  .site-nav__btn {
    cursor: pointer;
    position: absolute;
    top: $spacing-unit--medium;
    right: $spacing-unit;
    z-index: 2000;
  }

  .site-nav__list {

    @include media-query(palm) {
      display: none;
    }

    &.show {
      display: block;

      .site-nav__item {
        width: 100%;
      }

      @include media-query(palm) {
        background: $color-bg-site-nav;
        display: table;
        height: 100vh;
        left: 0;
        position: fixed;
        text-align: center;
        top: 0;
        width: 100vw;
        z-index: 1000;
      }
    }

  }

  .site-nav__item {
    margin-left: $spacing-unit--extra-small;
    margin-right: $spacing-unit--extra-small;

    @include media-query(desk) {
      margin-left: $spacing-unit--small;
      margin-right: $spacing-unit--small;
    }

  }

    .site-nav__link {
      color: $color-site-nav;
      border-color: transparent;

      @include attention() {
        color: $color-site-nav-hover;
      }

      @include media-query(lap-and-up) {
        display: block;
      }

    }

    %site-nav__current {
      @extend %link__hover;
      color: $color-site-nav-hover;
    }

    @each $page in essays, talks, projects, photos, books, things {

        .page--#{$page} .site-nav__#{$page} {
            @extend %site-nav__current;
        }

    }
