/*------------------------------------*\
  #LISTS
\*------------------------------------*/

.list--responsive {

  @include media-query(palm) {
    list-style: none;
    margin-left: 0;
  }

}


.list-inline--inline {
  display: inline;
}
