/*------------------------------------*\
  #PAGE-HEAD
\*------------------------------------*/

.page-head {
  @extend %hr;
  @extend %clearfix;
  margin-bottom: $spacing-unit;
  margin-top: $spacing-unit--medium;
  padding-bottom: $spacing-unit;

  @include media-query(desk) {
    margin-bottom: $spacing-unit--medium;
    margin-top: $spacing-unit--large;
    padding-bottom: $spacing-unit--medium;
  }

}

  .page-head__link{
    @extend %link-reset;
    display: inline-block;
    vertical-align: middle;
  }

  .page-head__title {
    @include font-size($inuit-heading-size-2, 1);
    font-family: $secondary-family;
    font-weight: $normal;
    letter-spacing: 0.1em;
    margin-bottom: 0;
    text-transform: uppercase;

    @include media-query(desk) {
      @include font-size($inuit-heading-size-1, 1);
    }
  }
