/*------------------------------------*\
  #GLOBAL
\*------------------------------------*/

$brand-round:     0;
$base-round:      $brand-round;




// High-level base settings.
$inuit-base-font-size:          18px;
$inuit-base-line-height:        28px;




// Typography
$base-family:                   'Source Sans Pro', Helvetica, Arial, sans-serif;
$secondary-family:              'PT Sans', sans-serif;
$code-family:                   Inconsolata, Monaco, Consolas, 'Andale Mono', 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;

$thin:            200;
$light:           300;
$normal:          400;
$semi-bold:       600;
$bold:            700;
$ultra-bold:      900;
