/*------------------------------------*\
  #COLORS
\*------------------------------------*/

// Color palette
$color-blue:              #00ADEF;
$color-white:             #FFF;
$color-white-light:       #F1F1F1;
$color-gray:              #999;
$color-gray-light:        #ddd;
$color-black:             #000;
$color-black-light:       #222;




// UI color application
$color-text:              $color-black-light;
$color-brand:             $color-blue;




// Page
$inuit-base-text-color:   $color-text;




// Links
$color-links:             $color-text;
$color-links-hover:       $color-brand;
$color-links-ui-bg:       $color-white-light;




// Text
$color-code:              $color-brand;
$color-pre-background:    $color-gray;
$color-pre:               $color-text;
$color-hr:                $color-gray-light;




// Iconic
$color-iconic:            $color-gray-light;




// Buttons
$color-btn:                   $color-brand;
$color-btn-hover:             darken($color-btn, 10%);
$color-btn-clear:             $color-text;
$color-btn-clear-bg:          $color-white;
$color-btn-clear-hover-bg:    $color-btn;




// Site nav
$color-site-nav:          $color-text;
$color-site-nav-hover:    $color-site-nav;
$color-bg-site-nav:       $color-white;




// Foot nav
$color-foot-nav:          $color-text;
$color-foot-nav-hover:    $color-gray-light;





// Post
$color-post-title:        $color-text;
$color-post-date:         $color-gray;




// Block
$color-block-book-img:          $color-white-light;
$color-block-book-img-hover:    $color-gray-light;
$color-block-date:              $color-post-date;




// lightbox
$color-bg-lightbox:             $color-black;




// Region
$color-region-title-border:     $color-black;
