/*------------------------------------*\
  #ALIASES
\*------------------------------------*/

$spacing-unit:                $inuit-base-spacing-unit;
$spacing-unit--extra-small:   round($spacing-unit / 3.5);
$spacing-unit--small:         $inuit-base-spacing-unit--small;
$spacing-unit--medium:        round($spacing-unit * 1.5);
$spacing-unit--large:         $inuit-base-spacing-unit--large;
$spacing-unit--extra-large:   round($spacing-unit * 3.5);

@mixin font-size($args...) {
  @include inuit-font-size($args...);
}
