/*------------------------------------*\
  #ABELNIEVA
\*------------------------------------*/

/**
 * CONTENTS
 *
 * SETTINGS
 * Default..............inuitcss’ default settings.
 * Global...............Globally-available variables and settings/config.
 * Colors...............Manage our color palette in isolation.
 * Responsive...........Set up and name our breakpoints.
 *
 * TOOLS
 * Functions............inuitcss’ default functions.
 * Mixins...............inuitcss’ default mixins.
 * Mixins...............Our extension of inuitcss’ mixins.
 * Responsive...........Responsive tooling (requires responsive settings).
 * Aliases..............Aliases onto longer inuitcss variables and mixins.
 *
 * GENERIC
 * Normalize.css........A level playing field.
 * Reset................A pared back reset to remove margins.
 * Box-sizing...........Better default `box-sizing`.
 * Shared...............Sensibly and tersely share global commonalities.
 *
 * BASE
 * Page.................Page-level styles (HTML element).
 * Page.................Our extension of the inuitcss page module.
 * Headings.............Heading styles
 * Type.................Misc type styles
 * Links................Hyperlink styles
 * Lists................inuitcss list styles
 * Images...............inuitcss images
 * Quotes...............Styling for blockquotes, etc.
 *
 * OBJECTS
 * Wrappers.............Wrappers and page constraints.
 * Buttons..............inuitcss’ buttons module.
 * Layout...............inuitcss’ layout tool.
 * List-inline..........inuitcss’ list-inline module.
 *
 * COMPONENTS
 * Page-head............Page header styles.
 * Site-nav.............Site’s main nav area.
 * Buttons..............Extension of inuitcss’ buttons.
 * Iconic...............Iconic icon styles.
 * Page-foot............Page footer styles.
 *
 * TRUMPS
 * Clearfix.............I can’t believe we still need this in 2014.
 * Spacing..............Micro-level spacing.
 * Show/hide............Helpers to show and side stuff.
 */




/**
 * #SETTINGS
 */
@import "../bower_components/inuit-defaults/settings.defaults";
@import "settings.global";
@import "settings.colors";
@import "../bower_components/inuit-responsive-settings/settings.responsive";




/**
 * #TOOLS
 */
@import "../bower_components/inuit-functions/tools.functions";
@import "../bower_components/inuit-mixins/tools.mixins";
@import "tools.mixins";
@import "../bower_components/inuit-responsive-tools/tools.responsive";
@import "tools.aliases";

$inuit-use-fractions:   false;
@import "../bower_components/inuit-tools-widths/tools.widths";




/**
 * #GENERIC
 */
@import "../bower_components/inuit-normalize/generic.normalize";
@import "../bower_components/inuit-reset/generic.reset";
@import "../bower_components/inuit-box-sizing/generic.box-sizing";
@import "../bower_components/inuit-shared/generic.shared";




/**
 * #BASE
 */
@import "../bower_components/inuit-page/base.page";
@import "base.page";

$inuit-heading-size-1: 34px;
$inuit-heading-size-2: 24px;
$inuit-heading-size-3: 22px;
$inuit-heading-size-4: 20px;
$inuit-heading-size-5: 18px;
$inuit-heading-size-6: 16px;
@import "../bower_components/inuit-headings/base.headings";

@import "../bower_components/inuit-paragraphs/base.paragraphs";
@import "base.type";
@import "base.links";
@import "../bower_components/inuit-lists/base.lists";
@import "../bower_components/inuit-images/base.images";
@import "base.quotes";




/**
 * #OBJECTS
 */
@import "objects.wrappers";

$inuit-btn-background:      $color-btn;
$inuit-btn-radius:          $base-round;
$inuit-btn-border-width:    2px;
$inuit-enable-btn--full:    true;
@import "../bower_components/inuit-buttons/objects.buttons";

$inuit-enable-layout--flush:            true;
@import "../bower_components/inuit-layout/objects.layout";

@import "../bower_components/inuit-block/objects.block";

$inuit-enable-list-inline--delimited:   true;
@import "../bower_components/inuit-list-inline/objects.list-inline";
@import "../bower_components/inuit-list-bare/objects.list-bare";
@import "../bower_components/inuit-media/objects.media";




/**
 * #COMPONENTS
 */
@import "components.page-head";
@import "components.site-nav";
@import "components.buttons";
@import "components.lists";
@import "components.page-foot";
@import "components.foot-nav";
@import "components.iconic";
@import "components.page-body";
@import "components.post";
@import "components.region";
@import "components.block";
@import "components.foot-notes";
@import "components.lightbox";
@import "components.gallery";
@import "components.media";
@import "components.tag";




/**
 * #TRUMPS
 */
@import "../bower_components/inuit-clearfix/trumps.clearfix";

$inuit-use-fractions:   false;
@import "../bower_components/inuit-widths/trumps.widths";
@import "../bower_components/inuit-widths-responsive/trumps.widths-responsive";

$inuit-enable-margins:            true;
$inuit-enable-margins--large:     true;
$inuit-enable-margins--huge:      true;
$inuit-enable-margins--negative:  true;
$inuit-enable-margins--none:      true;
$inuit-enable-paddings--none:     true;
@import "../bower_components/inuit-spacing/trumps.spacing";

@import "trumps.show-hide";
@import "trumps.alignment-responsive";
